.fix-button-resetpw {
  width: 200px !important;
  height: 43px;
  background-color: #ed143ddb;
  margin-top: 10px !important;
}

.fix-button-resetpw {
  border: 1px solid #f1e4e478 !important;
}

.text-red {
  color: red;
}
