.fix-cart {
  height: 120px;
  width: 80px;
  overflow: hidden;
}
.fix-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.fix-text-discount {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
}
.fix-text-checkout {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
.btn-send {
  height: 45px;
  background-color: #ffc107;
  color: white;
}
