.fix-img-div-laptop-area {
  height: 170px;
  width: 230px;
  overflow: hidden;
  text-align: center;
}
.fix-img-laptop-area {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.img-center {
  margin-left: 4vw;
}